<launch>
  <node name="teleop_to_steering" pkg="wildcat_racing" type="teleop_to_steering.py" output="screen"></node>
  <node name="teleop_to_driving" pkg="wildcat_racing" type="teleop_to_driving.py" output="screen"></node>
  <node name="servo" pkg="wildcat_racing" type="servo.py" output="screen"></node>
  <node name="drive" pkg="wildcat_racing" type="drive.py" output="screen"></node>
</launch>
